<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Debug-only receiver for automation/testing commands. -->
        <receiver
            android:name=".debug.DebugCommandReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nfsp00f33r.app.DEBUG_COMMAND" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
